#recipe-details {
  background-color: white;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 5px rgba(64,63,76,0.4);
}

#recipe-details h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: Uppercase;
  text-align: center;
  color: #2E51A3;
  margin: auto;
  width: 80%;
}

#recipe-details h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: Uppercase;
  color: #2E51A3;
  margin: 0;
}

#details-img {
  background-color: gray;
  width: 95%;
  max-width: 500px;
  display: block;
  margin: auto;
}

#back-link {
  height: 40px;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 20px;
}

#recipe-specifics {
  padding: 20px;
}
.back-arrow {
  font-size: 20px;
  color: gray;
  margin-top: 8px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: white;
}
.recipe-text {
  white-space: pre-line;
}

