* {
  box-sizing: border-box;
}

.about-body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: auto;
  position: relative;
  min-height: 100vh;
}



.jumbotron {
  padding: 45px 15px;
  
}

.about-section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

.about-section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 0px;
}

@media only screen and (min-width: 600px) {
  .about-body {
    max-width: 800px;
  }
}